@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* --- 1. RESET E BASE --- */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lora", serif;
    background-color: #f7f7f7;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(18, 17, 17);
    font-size: 1em;
}

a:hover{
    color: #78c8e2
}

img {
    width: 100px;
    height: 100px;
}

.icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* --- 2. HEADER E NAVEGAÇÃO --- */

header {
    background: linear-gradient(135deg, #BFEFFF 0%, #FFB6C1 100%);
    background-size: cover;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 90%; 
    max-width: 1200px; 
    margin: 0 auto;
}

#menu {
    display: flex;
    gap: 20px;
}

#barra-busca {
    display: flex; 
    align-items: center;
    flex-grow: 1;
    max-width: 450px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#barra-busca input {
    flex-grow: 1; 
    padding: 8px 0;
    border: none;
    outline: none; 
    font-family: "Lora", serif;
}

#barra-busca .icon {
    margin-left: 10px;
    opacity: 0.7;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner{
    border-radius: 8px;
    margin-top: 20px;
    width: 98vw;
    height: auto;
}

main div{
    display: flex;
    flex-direction: row;
    gap:20px;
    margin-top: 10px;
}

.poster {
    height: 300px;
    width: 150px;
    box-sizing:border-box;
    border-radius: 50px;
}

footer{
    background: linear-gradient(135deg, #BFEFFF 0%, #FFB6C1 100%);
    background-size: cover;
    padding: 10px;
    box-shadow: 2px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around; 
    width: 98.6vw;
}

footer span{
    display:flex;
    gap: 10px;
    align-items: center;
}

p{
    font-weight: 600;
    color: rgb(18, 17, 17);
    font-size: 0.8em;
}